# string syntex

In [1]:
days = "Mon Tue Wed Thu Fri Sat Sun"
print(days)

Mon Tue Wed Thu Fri Sat Sun

In [2]:
print(days[8])

W

In [3]:
print(1, 2, 3, sep=' < ') # separate with special string

1 < 2 < 3

In [4]:
print("""dfd skdjfvhds
dfgdgd
    dfgdgfd
dfgfdg
    dfgfdgfdg
fdgasfsa""")

dfd skdjfvhds
dfgdgd
    dfgdgfd
dfgfdg
    dfgfdgfdg
fdgasfsa

# string concatanation and slicing

In [5]:
print('shahin' + '@gmail' + ".com")

shahin@gmail.com

In [6]:
first = 'shahin'
second = '@gmail'
third = '.com'
cat = first + second + third
print(cat)

shahin@gmail.com

In [7]:
len(cat)

16

In [8]:
i = 0
l = len(cat)
for i in range(i,l):
    print(f"{i}  {cat[i]}  {i-l}")
    i+=1

0  s  -16
1  h  -15
2  a  -14
3  h  -13
4  i  -12
5  n  -11
6  @  -10
7  g  -9
8  m  -8
9  a  -7
10  i  -6
11  l  -5
12  .  -4
13  c  -3
14  o  -2
15  m  -1

In [9]:
cat[5:9]

'n@gm'

In [10]:
cat[5:]

'n@gmail.com'

In [11]:
cat[5:19]

'n@gmail.com'

In [12]:
'kamrul' + cat[6:]

'kamrul@gmail.com'

In [13]:
cat[-1]

'm'

In [14]:
cat[-10:-4]

'@gmail'

### string is immutable

In [15]:
# cat[5] = 'd'

# some string method

In [16]:
string = "Royal Bangal Tiger"
print("UPPERCASE:", string.upper())
print("lowercase:", string.lower())
print(string.index("Ban"))
print(string.startswith("Ro"))
print(string.endswith("ge"))

UPPERCASE: ROYAL BANGAL TIGER
lowercase: royal bangal tiger
6
True
False

# use of split and join in a string

In [17]:
newStr = string.split()
print(newStr)

['Royal', 'Bangal', 'Tiger']

In [18]:
" $ ".join(name.upper() for name in newStr)

'ROYAL $ BANGAL $ TIGER'

In [19]:
dateStr = '1999-03-30'
year, month, day = dateStr.split('-')
print(year, month, day)

1999 03 30

In [20]:
"/".join([year, month, day])

'1999/03/30'

# some string format

In [21]:
st = "Tiger"
# st + " is the no. " + 1 + " king of the jungle"
out1 = st + " is the no. " + str(1) + " king of the jungle" # check with removing str
out2 = "{} is the no. {} king of the jungle".format(st, 1)
print(out1)
print(out2)

Tiger is the no. 1 king of the jungle
Tiger is the no. 1 king of the jungle

In [22]:
types_of_people = 10
x = f"There are {types_of_people} types of people."
print(x)

binary = "binary"
do_not = "don't"
y = f"Those who know {binary} and those who {do_not}."
print(y)

print(f"I said: {x}")
print(f'I also said: "{y}"')

There are 10 types of people.
Those who know binary and those who don't.
I said: There are 10 types of people.
I also said: "Those who know binary and those who don't."

# more complicated formatting of a string

In [23]:
formatter = "{} {} {} {}"

print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "four", "five"))
print(formatter.format(True, False, False, bool))
print(formatter.format(formatter, formatter, formatter, formatter))

1 2 3 4
one two three four
True False False <class 'bool'>
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}

# some string methods

In [24]:
s = 'This is a #string'

In [25]:
s.upper()

'THIS IS A #STRING'

In [26]:
s.split()

['This', 'is', 'a', '#string']

In [27]:
s.split('#')

['This is a ', 'string']

In [28]:
s.split('#')[1]

'string'

In [29]:
mail = 'asdf@gmail.com'
mail.split('@')[-1]

'gmail.com'