# dictionary data structure ==> mapping key value pair

In [1]:
# a dict let you use anything, not just numbers

studentDetails = {"Name" : 'Shahin', "ID" : 1404021, "Address" : "Chittagong"}
print(studentDetails["Name"])
print(studentDetails["ID"])
print(studentDetails["Address"])

print(studentDetails)

Shahin
1404021
Chittagong
{'Name': 'Shahin', 'ID': 1404021, 'Address': 'Chittagong'}

In [2]:
studentDetails.items()

dict_items([('Name', 'Shahin'), ('ID', 1404021), ('Address', 'Chittagong')])

In [3]:
studentDetails.keys()

dict_keys(['Name', 'ID', 'Address'])

In [4]:
studentDetails.values()

dict_values(['Shahin', 1404021, 'Chittagong'])

### list inside dictionary

In [5]:
dict_item = {'key1' : 'value', 'key2' : [1, 3, 'sos']}
print(dict_item['key2'])
print(dict_item['key2'][2])

[1, 3, 'sos']
sos

### nested dictionary

In [6]:
dict_item = {'key1' : 'value', 'keyX' : {'innerkey' : [1, 3, 'sos']}}
print(dict_item['keyX'])
print(dict_item['keyX']['innerkey'])
print(dict_item['keyX']['innerkey'][2])

{'innerkey': [1, 3, 'sos']}
[1, 3, 'sos']
sos

# adding items in dictionary

In [7]:
studentDetails["Language"] = "Python"
print(studentDetails)

studentDetails[1] = "Java"
print(studentDetails)

{'Name': 'Shahin', 'ID': 1404021, 'Address': 'Chittagong', 'Language': 'Python'}
{'Name': 'Shahin', 'ID': 1404021, 'Address': 'Chittagong', 'Language': 'Python', 1: 'Java'}

# changing vaiue in dictionary

In [8]:
studentDetails[1] = "MySQL"
print(studentDetails)

{'Name': 'Shahin', 'ID': 1404021, 'Address': 'Chittagong', 'Language': 'Python', 1: 'MySQL'}

# delete item from dictionary

In [9]:
del studentDetails["Language"]
print(studentDetails)

{'Name': 'Shahin', 'ID': 1404021, 'Address': 'Chittagong', 1: 'MySQL'}

# converting list into dictionary

In [10]:
planetsName = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_initial = {planet: planet[0] for planet in planetsName}
planet_length = {planet: len(planet) for planet in planetsName}
print(planet_initial)
print(planet_length)

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}
{'Mercury': 7, 'Venus': 5, 'Earth': 5, 'Mars': 4, 'Jupiter': 7, 'Saturn': 6, 'Uranus': 6, 'Neptune': 7}

# some operations

In [11]:
"Venus" in planet_initial

True

In [12]:
"Venues" in planet_initial

False

In [13]:
planet_initial.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [14]:
planet_initial.values()

dict_values(['M', 'V', 'E', 'M', 'J', 'S', 'U', 'N'])

In [15]:
for key in planet_initial:
    print(f"{key} : {planet_initial[key]}")

Mercury : M
Venus : V
Earth : E
Mars : M
Jupiter : J
Saturn : S
Uranus : U
Neptune : N

In [16]:
for key, value in planet_initial.items():
    print(f"{key.rjust(8)} starts with : {value}")

 Mercury starts with : M
   Venus starts with : V
   Earth starts with : E
    Mars starts with : M
 Jupiter starts with : J
  Saturn starts with : S
  Uranus starts with : U
 Neptune starts with : N

In [17]:
print(" | ".join(sorted(planet_initial.keys())))
print(" | ".join(sorted(planet_initial.values())))

Earth | Jupiter | Mars | Mercury | Neptune | Saturn | Uranus | Venus
E | J | M | M | N | S | U | V